.send-container{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding:10px 10px 10px 20px;
}

.send-message{
    width: 100%;
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.message-box{
    width: 85%;
    height: 30px;
    margin:10px 30px 10px 0px;
    border-radius: 5px;
    border: #e3e3e3 solid 1px;
    padding:8px 15px;
    font-size: 11pt;
}

.send{
    font-weight: bold;
    font-size: 13pt;
    cursor: pointer;
    color: #3b85c0;
}

.field-validation-error{
    color:darkred;
    font-size: 8pt;
}